html{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container.one{
    background-color: yellow;
}

.container.two{
    background-color: green;
}

.container.three{
    background-color: gray;
}

.container.four{
    background-color: brown;
}

body{
    display: flex;
    flex-flow: column;
    height: auto;
    margin: 0;
    padding: 0;
}

.container, .header, .footer{
    padding: 50px 400px;
}

.container{
    height: 200px;
}

.header, .footer{
    background-color: #1f2937;
    color: white;
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
}

ul{
    padding: 0;
    margin: 0;
    display: flex;
    margin-left: auto;
}

li{
    display: flex;
    list-style-type: none;
    margin: 10px;
    
}

a{
    text-decoration: none;
    color: #e5e7eb;
    padding: 0;
    margin: 0;
    font-size: 18px;
}

.logo{
    font-size: 24px;
    color: #f9faf8;
}