html{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container.four{
    background-color: brown;
}

body{
    display: flex;
    flex-flow: column;
    height: auto;
    margin: 0;
    padding: 0;
}

.container, .header, .footer{
    padding: 50px 400px;
}

.container{
    height: 200px;
}

.header, .footer{
    background-color: #1f2937;
    color: white;
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
}

ul{
    padding: 0;
    margin: 0;
    display: flex;
    margin-left: auto;
}

li{
    display: flex;
    list-style-type: none;
    margin: 10px;
    
}

a{
    text-decoration: none;
    color: #e5e7eb;
    padding: 0;
    margin: 0;
    font-size: 18px;
}

.logo{
    font-size: 24px;
    color: #f9faf8;
}

.container.one{
    height: 300px;
    background-color: #1f2937;
    display: flex;
    flex-flow: column wrap;
    gap: 30px;
}

.main-text{
    font-size: 48px;
    color: #f9faf8;
}

.secondary-text, #button-one{
    font-size: 18px;
    color: #e5e7eb;
}
button{
    border-radius: 10px;
    width: 150px;
    height: 45px;
}

#button-one{
    background-color: #3882f6;
    color: white;
    font-size: 18px;
}

.image-holder{
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
    width: 500px;
    height: 290px;
    background-color: #e5e7eb;
}

.main-text, .secondary-text{
    width: 500px;
}

.container.two{
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
}

.two-subcontainer{
    flex: 1 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: auto;
    padding: 20px 200px;
}

.square{
    border: 3px solid #3882f6;
    border-radius: 10px;
    width: 120px;
    height: 100px;
    margin: 20px 20px 0px 20px;
}

.square-text{
    text-align: center;
    font-size: 14px;
    width: 100px;
    height: 100px;
    margin: 0px 25px 25px  25px;
    color: #636569b7;
}

.text-two{
    font-size: 36px;
    color: #1f2937;
}

.container.three{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 300px;
    background-color: #e5e7eb;
    font-size: 36px;
    color: #1f2937;
}

.testimony-author{
    font-size: 25px;
    text-align: end;
}

.testimony-author, .testimony-text{
    padding: 10px;
}
